#page{
    display: grid;
    grid-template-columns: 700px 100px;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px 5px rgb(70, 70, 70);
}
#main{
    padding: 45px;
}
h2, h6{
    text-transform: uppercase;
}
.product-body, .product-footer{
    margin-top: 50px;
}
.product-sub-text{
    color: rgb(144, 143, 141);
    margin-top: -10px;
    text-transform: uppercase;
}
.product-price{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(240, 205, 8);
}
.product-list >li{
    color: rgb(144, 143, 141);
}
.product-footer{
    display:grid;
    grid-template-columns: 300px auto auto;
    column-gap: 20px;
}
.color{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 15px;
}
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
    background: black;
}
#black{
    background: black;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#brown{
    background-color: brown;
}
#violet{
    background-color: rgb(151, 8, 151);
}
/* When the checkbox is checked, add a blue background
.container input:checked~.checkmark {
    background: black;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #f0f0f0;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
.number-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}
.number{
    font-size: 3rem;
    font-weight: bold;
    padding-right: 10px;
}
.arrow-up,
.arrow-down {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#side{
position: relative;
float: right;
width: fit-content;
}
.trapezoid {
    border: 0 solid rgb(179, 0, 255);
    border-radius: 0 10px 10px 0;
    width: 200px;
    float: right;
    border-bottom-width: 500px;
    border-left-width: 30px;
    border-left-color: transparent;
}
.img1{
    width: 260px;
    height: 300px;
    position: absolute;
    top: 70px;
    left: -100px;
    filter: drop-shadow(17px 0px 10px rgb(41, 41, 41));
}